body{
    background-color: #f8cfca;
}


h1{
    font-family: Georgia, serif;
    font-size: 40px;
    text-align: center;

}

#intro{
    font-family: Georgia, serif;
    font-size: 30px;
    text-align: center;
}

h4{
    font-family: Georgia, serif;
    font-size: 30px;

}

#project1{
    display: grid;
    margin-left: 100px;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 80px 25px;
    justify-items: center;
    align-items: center;
    color: rgb(104, 102, 102);
}

#project1link{    
    font-family: Georgia, serif;
    font-size: 25px;

}
#des1{
    font-family: Georgia, serif;
    font-size: 20px;
}
